/* GLOBAL FIXES */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #295066;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Playfair Display', serif;
    color: white;
}


/* HOTEL LIST */
.hotel-list {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* CARD */
.hotel-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


/* IMAGE */
.hotel-img {
    width: 200px;
    height: 160px;
    border-radius: 20px;
    object-fit: cover;
    flex-shrink: 0; /* prevents overflow */
}

/* INFO */
.hotel-info {
    flex: 1;
    min-width: 0; /* allows text to shrink without overflow */
    color: white;
}

.hotel-name {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    margin: 0 0 5px;
}

.price {
    font-size: 12px;
    margin: 0 0 10px;
}

.stars img {
    width: 18px;
}

.more-btn {
    margin-top: 10px;
    background: #f5f2e9;
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat';
}

.hotel-features img {
    width: 28px;
}








