/* GLOBAL FONTS */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #1e4250;
    color: white;
}

h1, h2, h3, h4 {
    font-family: "Playfair Display", serif;
}


/* ================= HERO SECTION ================= */
.hero-section {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hero-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.hero-text h1 {
    font-size: 68px;
    margin: 0;
}

.hero-text p {
    font-size: 28px;
    margin: 5px 0 15px;
}

.btn-primary {
    padding: 10px 20px;
    background:  #ffc54d;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
}



/* ================= RECOMMENDED HOTELS ================= */
.recommended {
    text-align: center;
    padding: 60px 20px;
}

.section-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 16px;
    max-width: 650px;
    margin: 0 auto 40px;
    line-height: 1.6;
}

.hotel-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hotel-card {
    background-color: #244c5a;
    width: 300px;
    border-radius: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.hotel-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.hotel-card h3 {
    margin: 15px 0 5px;
}

.rating {
    color: #ffc54d;
    font-size: 20px;
}

.btn-secondary {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    border: 2px solid #cba135;
    color: #cba135;
    text-decoration: none;
    border-radius: 4px;
}



/* ================= HOW IT WORKS ================= */
.how-section {
    text-align: center;
    padding: 60px 20px;
}

.how-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.how-step {
    background-color: #244c5a;
    padding: 25px;
    border-radius: 12px;
}

.how-step img {
    width: 60px;
    margin-bottom: 15px;
}



/* ================= BOTTOM IMAGE ================= */
.bottom-image img {
    width: 100%;
    display: block;
}



/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
    .how-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .how-grid {
        grid-template-columns: 1fr;
    }

    .hero-section {
        height: 350px;
    }

    .hero-text h1 {
        font-size: 32px;
    }
}












